body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
img {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

img {
  height: 500px;
  width: auto;
}
